/* fonts */
@font-face{
    font-family: 'roboto-slab';
    src: local('roboto-slab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf), format('true-type');
}

/* 
====== 
Variables 
======
*/
:root {
    
    --primaryColor: #476a2e;
    --primaryDarkColor: #232f61;
    --primaryOrangeColor: #ea4740;
    --goldColor: rgb(136 115 45);
    --mainWhite: #fff;
 
    --mainTransition: all 0.3s linear;
    --transition: all 0.8s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
    --heights: 80vh;
  --widths: 100%;
  }
  /* 
  ====== 
  Global Styles 
  ======
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }
  
  
 
  /* 
  ====== 
  Navbar
  ======
  */
  .navbar {
    background: var(--mainWhite);
    height: 2rem;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-around;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
    z-index: 3;
  }
  .logo {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .logo-img {
    height: 50px;
    width: 50px;
  }
  .logo-title a {
    color: var(--primaryOrangeColor);
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    line-height: 50px;
    padding-left: 100px;
    margin-right: 4rem;
  }
  .nav-links a {
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
    color: var(--primaryDarkColor);
    
  }
   .dropmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 113px;
    left: 0;
    background-color: var(--mainWhite);
    color: var(--primaryDarkColor);
    height: 80vh;
    z-index: 2;
  } 
  .dropmenu-active {
    transform: translateY(0);
    opacity: 0.9;
    transition: var(--transition);
    
  } 
  .dropmenu-closed {
    transform: translateY(-200%);
    opacity: 0; 
    transition: var(--transition);
  }
  .dropmenu:hover {
    transform: translateY(0);
    opacity: 0.9;
  }
   
  .dropContent {
    padding: 50px;
  }
  .nav-links li:last-child {
    margin-top: 5px;
  }
  .nav-links a:hover {
    color: var(--primaryOrangeColor);
    text-decoration: underline;
  }
  
  
  /* 
  ====== 
  Error
  ======
  */
  .error-page {
    display: flex;
    justify-content: center;  
    text-align: center;
    text-transform: capitalize;
    padding: 120px;
  }
  /* 
  ====== 
  product List 
  ======
  */
  
  .section {
    padding: 3.5rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  
  /* 
  ====== 
  Form
  ======
  */
  .form {
    position:absolute;
    top: -120px;
    left: 0;
    height: 200%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 4;
    display: none;
  }
  .form-active {
    display: flex;
  }
  .form-closed{
    display: none;
  }
 .form-inner {
  margin-top: 130px;
  background-color: var(--mainWhite);
  color: var(--primaryDarkColor);
  height: 90vh;
  width: 50%;
  border: 3px solid var(--mainWhite);
  box-shadow: var(--darkShadow);
  padding: 20px 50px;
  border-radius: 5%;
  margin-bottom: 40px;
  
 }
 .form-title {
  color: var(--primaryDarkColor);
  font-weight: 500;
  line-height: 1;
  font-size: 2rem;
  text-transform: none;
  margin-top: 70px;
  margin-bottom: calc(3rem - .2em);
 }
 .form-control {
  margin-bottom: 20px;
  width: 500px;
 }
 .form-control input:focus {
  outline: none;
  
 }
 .form-control input {
  border:none;
  border-bottom: 2px solid var(--primaryDarkColor);
  width: 500px;
 }
 /* .form-control input::selection {
  border:none;
  border-bottom: 2px solid #232f61;
 } */
 .form-control label {
font-size: 1.2rem;
font-weight: 500;
 }
 .form-btn {
  padding: 0.75em 2.25em;
  background-color: var(--primaryDarkColor);
  border: 3px solid var(--primaryDarkColor);
  border-radius: 100px;
  font-size: 1em;
  cursor: pointer;
  color:var(--mainWhite);
}
.form-btn:hover {
  background-color: var(--primaryOrangeColor);
border: 3px solid var(--primaryOrangeColor);
}
  /* 
  ====== 
  Slider
  ======
  */
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    /* position: relative; */
    margin: auto;
    overflow: hidden;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
   
  }
  
  
  .slide-image {
    width: 1000px;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0 100px 100px 0;
  }
  
  .slide-title,
  .slide-text {
    width: 100%;
    height: 100%;
    color: var(--mainWhite);
    position: absolute;
    left: 10%;
  
  }
  .slide-title {
    text-transform: capitalize;
    font-size: 40px;
    top: 32%;
  }
  .slide-text {
    font-size: 20px;
    top: 48%;
    letter-spacing: normal;
  }
  .slide-btn {
    padding: 0.75em 2.25em;
    background-color: var(--primaryOrangeColor);
    border: 3px solid var(--primaryOrangeColor);
    border-radius: 100px;
    position: absolute;
    left: 10%;
    top: 60%;
    font-size: 1em;
    cursor: pointer;
  }
  .slide-btn:hover{
    background-color: var(--primaryDarkColor);
    border: 3px solid var(--primaryDarkColor);
    
  }
  .slide-btn a {
    color: var(--mainWhite);
  }
  .slide-link {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: var(--mainWhite);
    border: 20px solid var(--primaryOrangeColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-link:hover{
    font-size: 50px;
    width: 120px;
    height: 120px;
    transition: var(--mainTransition);
  }
  .slide-miniImg {
    width: 200px;
    height: 158px;
    position: absolute;
    right: 5%;
    bottom: 30%;
    
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 58%;
    left: 5%;
    z-index: 2;
  }
  
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0px 3px;
    background-color: var(--mainWhite); 
    border-radius: 50%;
    display: inline-block;
  }
  
   .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
    
  } 
  
  
   .active-dot {
    background-color: var(--goldColor);
  } 
  
  .slider-container:hover .dot{
    background-color: var(--mainWhite);
  }
   .slider-container:hover .active-dot{
    background-color: var(--goldColor);
  } 
  
  
  /* .play-pause {
    color: black;
  } */
  /*
  Home
  */
  .section-home {
    padding-top: 114px;
  }