/* fonts */
@font-face{
    font-family: 'roboto-slab';
    src: local('roboto-slab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf), format('true-type');
}

/* 
====== 
Variables 
======
*/
:root {
    --primaryColor: #476a2e;
    --primaryDarkColor: #232f61;
    --primaryOrangeColor: #ea4740;
    --goldColor: rgb(136 115 45);
    --mainWhite: #fff;
    --grey: #c8cbd7;
    --mainTransition: all 0.3s linear;
    --transition: all 0.8s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
    --heights: 80vh;
    --widths: 100%;
  }
  /* 
  ====== 
  Global Styles 
  ======
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
  }
 h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }
  .btn {
    padding: 0.75em 2.25em;
    background-color: var(--primaryOrangeColor);
    border: 3px solid var(--primaryOrangeColor);
    border-radius: 100px;
    font-size: 1em;
    cursor: pointer;
    color: white;
  }
  .btn:hover{
    background-color: var(--primaryDarkColor);
    border: 3px solid var(--primaryDarkColor);
  }
  
  .btn_blue {
    background-color: var(--primaryDarkColor);
    border: 3px solid var(--primaryDarkColor);
  }
  .btn_blue:hover{
    background-color: var(--primaryOrangeColor);
    border: 3px solid var(--primaryOrangeColor);
  }
  
  /* 
  ====== 
  Header
  ======
  */
  .navbar {
    background: var(--mainWhite);
    height: 2rem;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-around;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
    z-index: 4;
    width:100%;
    padding: 3.5em;
    
  }
  .logo {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .logo-img {
    height: 50px;
    width: 50px;
  }
  .logo-title a {
    color: var(--primaryOrangeColor);
    font-size: 2vw;
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    line-height: 50px;
    padding-left: 100px;
    margin-right: 4rem;
  }
  .nav-links a {
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.5vw;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
    color: var(--primaryDarkColor);
    position: relative;
  }
  .menuIcon {
    display: none;
  }
  .nav-link_icon {
    display: none;
  }
   .dropmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 113px;
    left: 0;
    background-color: var(--mainWhite);
    color: var(--primaryDarkColor);
    height: 80vh;
    z-index: -1;
  } 
  .dropmenu-active {
    transform: translateY(0);
    opacity: 0.9;
    transition: var(--transition);
    
  } 
  .dropmenu-closed {
    transform: translateY(-200%);
    opacity: 0; 
    transition: var(--transition);
  }
  .dropmenu:hover {
    transform: translateY(0);
    opacity: 0.9;
  }
   
  .dropContent {
    padding: 50px;
  }
  .nav-links li:last-child {
    margin-top: 5px;
  }
  .nav-links a:hover {
    color: var(--primaryOrangeColor);
    text-decoration: underline;
  }
  
  
  /* 
  ====== 
  Error
  ======
  */
  .error-page {
    display: flex;
    justify-content: center;  
    text-align: center;
    text-transform: capitalize;
    padding: 120px;
  }
  /* 
  ====== 
  Form
  ======
  */
  .form {
    position:absolute;
    top: -120px;
    left: 0;
    height: 120%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
  }
  .form-active {
    display: flex;
  }
  .form-closed{
    display: none;
  }
 .form-inner {
  margin-top: 130px;
  background-color: var(--mainWhite);
  color: var(--primaryDarkColor);
  height: 90vh;
  width: 50%;
  border: 3px solid var(--mainWhite);
  box-shadow: var(--darkShadow);
  padding: 20px 50px;
  border-radius: 5%;
  margin-bottom: 40px;
  
 }
 .form-title {
  color: var(--primaryDarkColor);
  font-weight: 500;
  line-height: 1;
  font-size: 2rem;
  text-transform: none;
  margin-top: 70px;
  margin-bottom: calc(3rem - .2em);
 }
 .form-control {
  margin-bottom: 20px;
  width: 500px;
 }
 .form-control input:focus {
  outline: none;
  
 }
 .form-control input {
  border:none;
  border-bottom: 2px solid var(--primaryDarkColor);
  width: 500px;
 }
 /* .form-control input::selection {
  border:none;
  border-bottom: 2px solid #232f61;
 } */
 .form-control label {
font-size: 1.2rem;
font-weight: 500;
 }
 .form-btn {
  padding: 0.75em 2.25em;
  background-color: var(--primaryDarkColor);
  border: 3px solid var(--primaryDarkColor);
  border-radius: 100px;
  font-size: 1em;
  cursor: pointer;
  color:var(--mainWhite);
}
.form-btn:hover {
  background-color: var(--primaryOrangeColor);
border: 3px solid var(--primaryOrangeColor);
}
  /* 
  ====== 
  Slider
  ======
  */
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative; 
    margin: auto;
    overflow: hidden;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
   
  }
  
  
  .slide-image {
    width: 1000px;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0 100px 100px 0;
  }
  
  .slide-title,
  .slide-text {
    width: 100%;
    height: 100%;
    color: var(--mainWhite);
    position: absolute;
    left: 10%;
  
  }
  .slide-title {
    text-transform: capitalize;
    font-size: 40px;
    top: 32%;
  }
  .slide-text {
    font-size: 20px;
    top: 48%;
    letter-spacing: normal;
  }
  .slide-btn {
    position: absolute;
    left: 10%;
    top: 60%;
  }
  /* .slide-btn:hover{
    background-color: var(--primaryDarkColor);
    border: 3px solid var(--primaryDarkColor);
  } */
  .slide-btn a {
    color: var(--mainWhite);
  }
  .slide-link {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: var(--mainWhite);
    border: 20px solid var(--primaryOrangeColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-link:hover{
    font-size: 50px;
    width: 120px;
    height: 120px;
    transition: var(--mainTransition);
  }
  .slide-miniImg {
    width: 200px;
    height: 158px;
    position: absolute;
    right: 5%;
    bottom: 30%;
    
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 90%;
    left: 5%;
    z-index: 2;
  }
  
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0px 3px;
    background-color: var(--mainWhite); 
    border-radius: 50%;
    display: inline-block;
  }
  
   .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
    
  } 
  
  
   .active-dot {
    background-color: var(--goldColor);
  } 
  
  .slider-container:hover .dot{
    background-color: var(--mainWhite);
  }
   .slider-container:hover .active-dot{
    background-color: var(--goldColor);
  } 
  
  
 
  /*
  Home
  */
  .section-home {
    padding-top: 114px;
  }
  /*Second slider*/
  .secondSlider-content{
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: space-between;
    
  }
  .secondSlider-content::after{
    content: '';
    height: 100%;
    width: 20px;
    background-color: #fff;
    position: absolute;
    right: 0;

  }
  .secondSliderContainer {
    width: 33%;
  }
  .secondSlider-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    margin-top: 21vh;
    text-transform: uppercase;
    margin-right: 20px;
  }
  .secondSliderImg {
    height: 148px;
    width: 216px;
    position: relative;
  }
  .secondSlider-inner::before {
    content: '';
    width: 150px;
    height: 150px;
    background-color: var(--grey);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom:155px;
    left: 20px;
    
  }
  .secondSliderTitle {
    display: inline-block;
    border-top: 2px solid var(--primaryDarkColor);
    border-bottom: 2px solid var(--primaryDarkColor);
    padding: .2em;
    color: var(--primaryDarkColor);
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 30px;
  }
  .secondSliderText {
    margin-top: 10px;
    color: var(--primaryDarkColor);
    padding-right: 20px;
    font-size: 0.9rem;
    font-weight: normal;
    max-width: 300px;
    text-transform: capitalize;
  }
  .secondSliderNext-btn {
    font-size: 50px;
    position: absolute;
    bottom: 200px;
    background-color: transparent;
    color: var(--primaryDarkColor);
    border: none;
    right: 0; 
    z-index: 2;
  }
  /*News*/
  .news-content {
    max-width: 1200px;
    height: 70vh;
  }

  .news-title {
    color: var(--primaryDarkColor);
    border-bottom: 1px solid var(--primaryDarkColor);
    text-decoration: none;
    text-align: start;
    font-size: 3vw;
    font-weight: normal;
    letter-spacing: 0.8px;
    display: inline;
   
  }
  .news-title:hover {
    border-bottom: none;
  }
  .news-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
  }
  .item-list {
    min-width: 350px;
    
  }
  .news-name, .news-date{
    color: var(--primaryDarkColor);
    
  }
  .news-date {
    margin-top: 30px;
  }
  .news-name {
    font-size: 2.5vw;
    margin-top: 30px;
  }
  /*Questions*/
  .questions-content {
    color: var(--primaryDarkColor);
    height: 70vh;
    width: 100%;
    background: url(../src/assets/questionsImg/call-center-6290278_1280.jpg) no-repeat left;
    border-radius: 0 100px 100px 0;
    width: 80%;
    margin-top: 20px;
  }
  .questions-inner {
    border-radius: 0 100px 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .questions-header {
    font-size:3vw;
    border-bottom: 1px solid black;
    max-width: fit-content;
  }
  .questions-header:hover {
    border-bottom: none;
  }
  .questions-title {
    margin-top: 10px;
    font-size: 2vw;
    line-height: normal;
    letter-spacing: 0.1px;
  }
  .questions-title:hover {
    border-bottom: 1px solid black;
    max-width: fit-content;
  }
  /*homeText*/
  .homeText {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--primaryDarkColor);
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .homeText-title {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    line-height: 2;
  }
  .homeText-text {
    width: 800px;
    font-weight: normal;
    line-height: 1.5;
  }
  .homeIcon_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .garantyIcon, .rosizolIcon {
    width: 160px;
    height: 160px;
    margin-right: 20px;
  }
  /*Video block*/
  .homePageVideo-video {
    position: relative;
    border-radius: 0 380px 380px 0;
  }
  .homePageVideo {
    position: relative;
  }
  .homePageVideo-content {
    position: absolute;
    left: 130px;
    top: 220px;
  }
  .homePageVideo-inner {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    max-width: 800px;
    flex-wrap: wrap;
    text-align: start;
  }
  .homePageVideo-title {
    width: 100%;
    margin-bottom: 1.7rem;
    font-size: 2rem;
    color: white;
  }
  .homePageVideo-digits {
    margin-right: 50px;
    max-width: 200px;
  }
  .homePageVideoBig {
    font-size: 5rem;
    color: var(--primaryOrangeColor);
    font-weight: 500;
    line-height: 1;
  }
  .homePageVideoSmall {
    font-size: .9rem;
    color: #faf9f7;
    font-weight: 500;
    
  }
  /*footer*/
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .footer {
    border-top: 5px solid var(--primaryOrangeColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .footerList-item {
    max-width: 180px;
    letter-spacing: 0.2px;
  }
  .footer-links_title {
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    color: var(--primaryOrangeColor);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .footer-links_title:hover {
    text-decoration: underline;
  }
  .footerList-item li {
    text-transform:none;
    color: var(--primaryDarkColor);
    font-size: 1rem;
    font-weight: 400;
  }
  .footerList-item li:hover {
    text-decoration: underline;
  }
  .footer-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer-icons {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
  }
  .footer-icons li {
    list-style: none;
    width: 28px;
    height: 28px;
    margin-right: 25px;
    position: relative;
    transform: translateX(-50%);
  }
  .footer-icons li::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: var(--primaryOrangeColor);
    position: absolute;
    top: -2px;
    left: -18%;
    z-index: -1;
    border-radius: 50%;
  }
  .footer-papers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  .footer-papers_link {
    margin-right: 50px;
    color: var(--primaryDarkColor);
    opacity: 0.7;
    text-decoration: underline;
    font-weight: 500;
  }
  .footer-papers_link:hover {
    opacity: 1;
  }
  .footer-adress {
    display: flex;
    flex-direction: row;
  }
  .footer-adress_Item {
    margin-right: 20px;
    width: 33%;
    
  }
  .footer-adress_Item-title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--primaryOrangeColor);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2px;
    border-bottom: 1px solid var(--primaryOrangeColor);
  }
  .footer-adress_text {
    color: var(--primaryDarkColor);
    font-weight: 500;
    font-size: 0.85rem;
    letter-spacing: 0.05px;
  }
  .footer-adress_center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .footer-adress_center p {
    min-width: 145px;
    max-width: 145px;
    margin-right: 10px;
  }
  .footer-adress_links {
    color: var(--primaryDarkColor);
    font-weight: 500;
    font-size: 0.85rem;
    letter-spacing: 0.05px;
  }
.footer-adress a:hover {
  text-decoration: underline;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--primaryDarkColor);
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 20px;
}
.copyright-link {
  margin-left: 20px;
}
.copyright-link:hover {
  text-decoration: underline;
}
/*Media querries*/
@media (min-width:1600px) {
.nav-links a {
  font-size: 1vw;
}
}
@media (max-width:850px) {
  .nav-links {
    padding-left: 60px;
  }
}
@media (max-width:760px){
 
  .logo {
    position:absolute;
    top:5%;
    right: 5%;
  }
  .logo-title a{
    font-size: 4vw;
  }
  .nav-links{
   position: absolute;
   display: flex;
   flex-direction: column;
   left: -40px;
   top: 110%;
   margin-bottom: 20px;
   align-items: flex-start;
   background-color: #fff;
   opacity: 0.9;
   transform: translateX(-100%);
   transition: var(--mainTransition);
  }
  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-link:last-child{
    display: none;
  }
  .nav-links_open {
    transform: translateX(0);
    transition: var(--mainTransition);
  }
  .nav-link a {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
  }
  .menuIcon {
    display: block;
    position: absolute;
    top:50%;
    left:10%;
    transform: translateY(-50%);
    color: var(--primaryDarkColor);
  }
  .menuIcon svg {    
    width: 50px;
    height: 50px;
  }
  .nav-link_icon {
    display: inline-block;
    color: var(--primaryDarkColor);
    
  }
  .dropmenu-active {
    transform: translateY(-100%); 
  }  
  
}
/*Product List*/
.products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.products-title {
  width: 100%;
    margin: 0;
    color: #232f61;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: calc(1.5rem - 0.2em);
  padding-top: 130px;
  
}
.productListFilter {
  width: 25%;
}
.productListFilter-mainTitle {
  width: 100%;
    padding-left: 1em;
    font-size: 1.2rem;
    color: var(--primaryOrangeColor);
}
.filter-checkboxes{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  
}
.radio-container .checkbox-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.checkbox-container input {
  cursor: pointer;
    color: var(--primaryDarkColor);
}
.checkbox-container label {
    align-items: center;
    /* margin: 0 0.6em 0 0; */
    /* padding: 0.4rem 0.4rem 0.4rem 0.5rem; */
    padding-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--primaryDarkColor);
    font-weight: 400;
    line-height: 2;
}
.productListFilter-item_title {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--primaryDarkColor);
    margin-top: 50px;
    letter-spacing: 0.5px;
}
.radio-container label {
    align-items: center;
    /* margin: 0 0.6em 0 0;
    padding: 0.4rem 0.4rem 0.4rem 0.5rem; */
    padding-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--primaryDarkColor);
    font-weight: 400;
}
.radio-container input {
  cursor: pointer;
    color: var(--primaryDarkColor);
}
.table-content {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-end;
  position: relative;
  border-bottom: 3px solid var(--primaryDarkColor);
  margin-bottom: 20px;
}
.table-content_text {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryDarkColor);
}
.table-content_text::after {
    content: "i";
    background-color: #b5b8c4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    margin-bottom: 0px;
    color: white;
    bottom: 8px;
    font-weight: 500;
    font-style: italic;
    left: 10px;
    cursor: pointer;
}
.table-content_text-hover {
  box-shadow: 0 0 10px rgb(73 77 97 / 15%), 0 0 34px rgb(73 77 97 / 10%);
    background-color: white;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -6px;
    left: 10px;
    color:  var(--primaryDarkColor);
    padding: 10px;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    opacity: 0; 
    z-index: 5;
    overflow: hidden;
    border-radius: 50%;
}
.table-content_text-hover:hover  {
  opacity: 1;
  cursor: pointer;
  z-index: 0;
  width: 150px;
  height: 100px;
  padding: 15px;
  border-radius: 0;
}
.table-content_rectangle1 {
  /* border: 1px solid black; */
    width: 60px;
    height: 100px;
    /* background-color: grey; */
    background: linear-gradient(0deg,#ea4740 -10.27%,#cfbe52 119.5%);
    background-image: linear-gradient(0deg, rgb(234, 71, 64) -10.27%, rgb(207, 190, 82) 119.5%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    /* background-repeat-x: initial;
    background-repeat-y: initial; */
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-left: 25px;
    cursor: pointer;
}
.table-content_rectangle2 {
/* border: 1px solid black; */
    width: 60px;
    height: 150px;
    background-color: #b5b8c4;
    cursor: pointer;
}
.table-content_rectangle3 {
/* border: 1px solid black; */
    width: 60px;
    height: 200px;
    background-color: #848aa3;
    cursor: pointer;
}
.table-content::after
 {
  content: " ";
  width: 20px;
  height: 3px;
  background-color: var(--primaryDarkColor);
  position: absolute;
  bottom: 4px;
  right: -2px;
  transform: rotate(45deg);
}
.table-content::before {
   content: " ";
  width: 20px;
  height: 3px;
  background-color: var(--primaryDarkColor);
  position: absolute;
  bottom: -10px;
  right: -2px;
  transform: rotate(-45deg);
}
.table-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--primaryDarkColor);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 50px;
}
.table-text span {
  color: #9197b0;
  font-size: 14px;
  text-align: center;
}
.ProductListFilter_btn {
    position: sticky;
    bottom: 0;
    z-index: 1;
    margin-bottom: 100px; 
}
.closed {
  display:none;
}
.productListFilter_titleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.productListFilter_icon {
  color: var(--primaryOrangeColor);
  font-size: 1.5rem;
  
}
/* Item*/
.item {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 50px;
  width: 75%;
}
.item-container {
  background-color: white;
  color: var(--primaryDarkColor);
  width: 200px;
  height: 250px;
  overflow: hidden; 
  padding: 15px;
  box-shadow: 0 0 10px rgb(73 77 97 / 15%), 0 0 34px rgb(73 77 97 / 10%);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-img {
  width: 150px;
  height: 120px;
}
.item-title {
  text-align: left;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 40px;
}
