/* fonts */
@font-face{
    font-family: 'roboto-slab';
    src: local('roboto-slab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf), format('true-type');
}

/* 
====== 
Variables 
======
*/
:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --transition: all 0.8s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
    --heights: 80vh;
  --widths: 100%;
  }
  /* 
  ====== 
  Global Styles 
  ======
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--mainBlack);
    background: var(--mainBackground);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }
  
  /* 
  ====== 
  Buttons 
  ======
  */
  .btn,
  .btn-white,
  .btn-primary {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
  }
  .btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .btn-white {
    background: transparent;
    color: var(--mainWhite);
    border-color: var(--mainWhite);
  }
  .btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
  }
  .btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-color: transparent;
  }
  .btn-primary:hover {
    background: var(--primaryLightColor);
    color: var(--primaryColor);
  }
  .btn-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: var(--lightShadow);
    text-align: center;
  }
  .btn-details {
    padding: 0.25rem 0.4rem;
  }
  .btn-details:hover {
    background: var(--primaryLightColor);
    border-color: var(--primaryLightColor);
  }
  /* 
  ====== 
  Navbar
  ======
  */
  .navbar {
    background: var(--mainWhite);
    height: 2rem;
    display: flex;
    position: fixed;
    align-items:center;
    justify-content: space-around;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
    z-index: 10;
    
  }
  .logo {
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .logo-img {
    height: 50px;
    width: 50px;
  }
  .logo-title a {
    color: #bd0303;
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    line-height: 50px;
    padding-left: 100px;
    margin-right: 4rem;
  }
  .nav-links a {
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
    color: #232f61;
    
  }
   .dropmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 113px;
    left: 0;
    background-color: #fff;
    color: #232f61;
    height: 80vh;
    transform: translateY(-200%);
    opacity: 0; 
  } 
   .dropmenu-active {
    transform: translateY(0);
    opacity: 1;
  } 
  .dropContent {
    padding: 50px;
  }
  .nav-links li:last-child {
    margin-top: 5px;
  }
  .nav-links a:hover {
    color: red;
    text-decoration: underline;
  }
  
  /* 
  ====== 
  About
  ======
  */
  .about-section {
    width: var(--smallWidth);
    max-width: var(--maxWidth);
    margin: 0 auto;
  }
  .about-section p {
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
  }
  /* 
  ====== 
  Error
  ======
  */
  .error-page {
    display: flex;
    justify-content: center;  
    text-align: center;
    text-transform: capitalize;
    padding: 120px;
  }
  /* 
  ====== 
  product List 
  ======
  */
  
  .section {
    padding: 3.5rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .productList-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
    .productList-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  /* 
  ====== 
  Product 
  ======
  */
  
  .product{
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
  }
  .product:hover {
    box-shadow: var(--darkShadow);
  }
  .product img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }
  
  /* 
  ====== 
  Form
  ======
  */
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .form-inner {
  margin-top: 130px;
  background-color: #fff;
  color: #232f61;
  height: 70vh;
  width: 50%;
  border: 1px solid #fff;
  box-shadow: var(--lightShadow);
  padding: 20px 50px;
  border-radius: 5%;
  margin-bottom: 40px;
  
 }
 .form-title {
  color: #232f61;
  font-weight: 500;
  line-height: 1;
  font-size: 1.6rem;
  text-transform: none;
  margin-bottom: calc(1.2rem - .2em);
 }
 .form-control {
  margin-bottom: 20px;
  width: 500px;
 }
 .form-control input {
  border:none;
  border-bottom: 2px solid #232f61;
  width: 500px;
 }
 /* .form-control input::selection {
  border:none;
  border-bottom: 2px solid #232f61;
 } */
 .form-control label {
font-size: 1.2rem;
font-weight: 500;
 }
 .form-btn {
  padding: 0.75em 2.25em;
  background-color: #232f61;
  border: 3px solid #232f61;
  border-radius: 100px;
  font-size: 1em;
  cursor: pointer;
  color:#fff;
}
.form-btn:hover {
  background-color: #ea4740;
border: 3px solid #ea4740;
}
  /* 
  ====== 
  Slider
  ======
  */
  .slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  .active {
    display: inline-block;
  }
  
  .inactive {
    display: none;
  }
  
  .slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
   
  }
  
  
  .slide-image {
    width: 1000px;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0 100px 100px 0;
  }
  
  .slide-title,
  .slide-text {
    width: 100%;
    height: 100%;
    color: rgb(136 115 45);
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 10%;
    
  }
  .slide-title {
    text-transform: capitalize;
  }
  .slide-text {
    font-size: 20px;
    top: 50%;
    letter-spacing: normal;
  }
  .slide-btn {
    padding: 0.75em 2.25em;
    background-color: #ea4740;
    border: 3px solid #ea4740;
    border-radius: 100px;
    position: absolute;
    left: 10%;
    top: 60%;
    font-size: 1em;
    cursor: pointer;
  }
  .slide-btn:hover{
    background-color: #232f61;
    border: 3px solid #232f61;
    
  }
  .slide-btn a {
    color: rgb(255, 255, 255);
  }
  .slide-link {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 20px solid #ea4740;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide-miniImg {
    width: 200px;
    height: 158px;
    position: absolute;
    right: 5%;
    bottom: 30%;
    
  }
  
  .all-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    top: 85%;
    left: 5%;
    
    /* justify-content: center; */

    z-index: 200;
  }
  
  .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 0px 3px;
    background-color: rgb(255 255 255); 
    border-radius: 50%;
    display: inline-block;
  }
  
   .slider-container:hover .dot:hover {
    background-color: rgba(255, 255, 255, 0.5);
  } 
  
  
   .active-dot {
    background-color: rgb(136 115 45);
  } 
  
  .slider-container:hover .dot{
    background-color: rgba(255, 255, 255, 1);
  }
   .slider-container:hover .active-dot{
    background-color: rgb(136 115 45)
  } 
  
  
  /* .play-pause {
    color: black;
  } */
  /*
  Home
  */
  .section-home {
    padding-top: 114px;
  }